.form--web-page.form {
    width: 100%;
    display: flex;
    padding: 2em;
    box-sizing: border-box;
}

.form--web-page .form__input {
    flex: 1 1;
}

.form--web-page .form__submit-button {
    flex: 0 0;
}

.form__submit-button--disabled {
    pointer-events: none;
}

